table { border: 1px solid #cecece; width:100%; }

thead {
  background-color:#dedede;
}

thead tr {
  padding: 5px;
}

thead tr td {
  text-align: center;
  padding: 5px;
}

tbody tr td { text-align:center; padding:10px; color:#fff; font-weight: lighter; font-size: 15px;}
tbody tr td a { color:#fff; font-weight: lighter; font-size: 15px;}

.row { background-color: #bdc3c7;}
.row1 { background-color: #95a5a6;}
